<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://res.cloudinary.com/dvkmi9cmw/image/upload/v1738417349/task-creator-app-db/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>User Log In</title>
  </head>
  <body class="h-full bg-slate-900">
    <div class="flex flex-col justify-center px-6 py-20 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-18 w-auto" src="https://res.cloudinary.com/dvkmi9cmw/image/upload/v1738692010/task-creator-app-db/rlojttif1umtytiutdx1.png" alt="image not available" />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-200">Log in to your account</h2>
      </div>
      <div class="card bg-slate-800 mt-10 sm:mx-auto sm:w-full sm:max-w-md rounded-lg shadow-lg p-8 pb-10">
        <form class="space-y-6" action="/login/user" method="POST">
          <div>
            <label for="email" class="block text-sm/6 font-medium text-gray-300">Email address</label>
            <div class="mt-2">
              <input type="email" name="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-slate-300 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm/6 font-medium text-gray-300">Password</label>
            <div class="mt-2">
              <input type="password" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-slate-300 px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-sky-600 sm:text-sm/6" />
            </div>
          </div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-sky-700 px-3 py-1.5 text-sm/6 font-semibold text-slate-200 shadow-xs hover:bg-sky-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Sign in</button>
        </form>
      </div>
      <p class="mt-9 text-center text-sm/6 text-gray-500">
        Do not have an account?
        <a href="/register" class="font-semibold text-sky-600 hover:text-sky-500">Create an account</a>
      </p>
    </div>
  </body>
</html>
